@page "/medicalExamination"
@attribute [Authorize(Roles = "Doctor")]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMedicalExaminationService medicalExamService
@inject IPatientService patientService
@inject IDiseaseService diseaseService
@inject IDialogService DialogService
@layout MainLayout

<AuthorizeView Context="contextAuthorize">
    <NotAuthorized>
        <MudText>Not Authorized</MudText>
    </NotAuthorized>
    <Authorized>

        <div class="d-flex" style="height:50rem; background-color:#FAFAFA; border-radius:20px; width:96.7%">
            <div style="display:flex; flex:1; flex-direction:column; padding-top:1rem; margin:0px 20px; width:96.7%">
                <MudText Typo="Typo.h6" Style="padding-bottom:10px">Danh sách thuốc</MudText>

                <MudDataGrid T="MedicalExamination" MultiSelection="true" Items="@medicalExaminations" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@FilterS" FixedHeader="true"
                             FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive" FilterMode="DataGridFilterMode.ColumnFilterMenu"
                             Hideable="true" Striped="true" Bordered="true" Style="overflow:auto; position:relative; width:100%; border-radius:20px;" Height="600px">
                    <ToolBarContent>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="() => ShowAdd()">Thêm đơn khám mới</MudButton>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchS" Placeholder="Tìm kiếm đơn khám" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <Columns>
                        <SelectColumn T="MedicalExamination" />
                        <PropertyColumn Property="m => m.MedicalExaminationId" Title="Mã đơn khám" Sortable="false" Filterable="false" />
                        <PropertyColumn Property="m => patients.Where(p => p.Id.Equals(m.PatientId)).SingleOrDefault().PatientId" Title="Mã bệnh nhân" Sortable="false" Filterable="false" />
                        <PropertyColumn Property="m => patients.Where(p => p.Id.Equals(m.PatientId)).SingleOrDefault().Name" Title="Tên bệnh nhân" />
                        <TemplateColumn Sortable="false" Filterable="false" Title="Triệu chứng">
                            <CellTemplate>
                                <MudStack Row Spacing="1">
                                @foreach (var item in context.Item.DiseaseName)
                                {
                                    <MudText Typo="Typo.body2">@item</MudText>
                                    @if(item != context.Item.DiseaseName.Last())
                                    {
                                        <MudText Typo="Typo.body2">,</MudText>
                                    }
                                }
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="m => m.CreatedAt.ToLocalTime().ToString(dateTimeFormat)" Title="Thời gian tạo đơn" />
                        <TemplateColumn Sortable="false" Filterable="false" Title="Chức năng">
                            <CellTemplate>
                                <MudStack Row>
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Medium"
                                                   OnClick="(e) => ShowUpdate(context.Item.Id)" />
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Medium"
                                                   OnClick="(e) => ShowDelete(context.Item.Id)" />
                                    <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Info" Size="Size.Medium"
                                                   OnClick="(e) => ShowDetail(context.Item.Id)" />
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <NoRecordsContent>
                        <MudText>Không tìm thấy dữ liệu</MudText>
                    </NoRecordsContent>

                    <LoadingContent>
                        <MudText>Loading...</MudText>
                    </LoadingContent>
                    <PagerContent>
                        <MudDataGridPager T="MedicalExamination" />
                    </PagerContent>
                </MudDataGrid>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private IEnumerable<MedicalExamination> medicalExaminations = new List<MedicalExamination>();
    private IEnumerable<Patient> patients = new List<Patient>();
    private IEnumerable<Disease> diseases = new List<Disease>();
    private string searchS = "";
    private string dateTimeFormat = "dd/MM/yyyy";

    protected override async Task OnInitializedAsync()
    {
        medicalExaminations = await medicalExamService.GetMedicalExaminations();
        patients = await patientService.GetPatients();
    }

    private async Task ShowDetail(string id)
    {
        var parameter = new DialogParameters { ["Id"] = id };
        var dialog = await DialogService.ShowAsync<MedicalExDetailPopUp>("Thông tin đơn khám", parameter);
        var result = await dialog.Result;
    }

    private async Task ShowAdd()
    {
        var dialog = DialogService.Show<MedicalExCreatePopUp>("Thêm đơn khám");
        var result = await dialog.Result;
        await InvokeAsync(OnInitializedAsync);
    }

    private async Task ShowUpdate(string id)
    {
        var parameter = new DialogParameters { ["Id"] = id };
        var dialog = DialogService.Show<MedicalExUpdatePopUp>("Sửa thông tin đơn khám", parameter);
        var result = await dialog.Result;
        await InvokeAsync(OnInitializedAsync);
    }

    private async Task ShowDelete(string id)
    {
        var parameter = new DialogParameters { ["Id"] = id };
        var dialog = DialogService.Show<MedicalExDeletePopUp>("Xóa đơn khám", parameter);
        var result = await dialog.Result;
        await InvokeAsync(OnInitializedAsync);
    }

    private bool FilterS(Domain.Models.MedicalExamination medicalExam) => FilterSearch(medicalExam, searchS);

    private bool FilterSearch(Domain.Models.MedicalExamination medicalExam, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (medicalExam.MedicalExaminationId.Contains(searchString, StringComparison.OrdinalIgnoreCase) == true) return true;
        return false;
    }
}