@page "/account"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IDialogService DialogService
@layout MainLayout

<PageTitle>Quản lí tài khoản</PageTitle>
<HeadContent>
    <link rel="icon" href="./assets/icns/user.ico" />
</HeadContent>

<div style="height:30rem; background-color:#FAFAFA; border-radius:20px; width:96.7%">
            <div style="padding-top:1rem; margin:0px 20px; width:96.7%">
    <MudText Typo="Typo.h6" Style="padding-bottom:10px">Quản lí tài khoản</MudText>
    <MudTextField Label="Họ và Tên" Value="@user.Name" ReadOnly="true"></MudTextField>
    <MudTextField Label="Email" Value="@user.Email" ReadOnly="true"></MudTextField>
    <MudTextField Label="Số điện thoại" Value="@user.PhoneNumber" ReadOnly="true"></MudTextField>
    <MudTextField Label="Địa chỉ" Value="@user.Address" ReadOnly="true"></MudTextField>
    <MudTextField Label="Giới tính" Value="@user.Gender" ReadOnly="true"></MudTextField>
    <MudTextField Label="Chức danh" Value="@user.Role" ReadOnly="true"></MudTextField>
    @if(user.Role is "Bác sĩ")
    {
        <MudTextField Label="Chuyên khoa" Value="@user.Specialist" ReadOnly="true"></MudTextField>
    }
    <MudButton Style="margin-top:20px" Variant="Variant.Filled" Color="Color.Primary" @onclick="() => ShowUpdate(user)">Chỉnh sửa thông tin cá nhân</MudButton>  
</div>
</div>

@code{
    private string userId = new string("");

    private User user = new User();

    protected override async Task OnInitializedAsync()
    {
        await GetUserId();
        user = await UserService.GetUserByUserId(userId);
    }

    private async Task ShowUpdate(User user)
    {
        var parameter = new DialogParameters { ["UserParam"] = user };
        var dialog = await DialogService.ShowAsync<AccountUpdatePopUp>("Chỉnh sửa thông tin tài khoản", parameter);
        var result = await dialog.Result;
        await InvokeAsync(OnInitializedAsync);
    }

    private async Task GetUserId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            userId = authState.User.Claims
            .Where(c => c.Type.Equals(ClaimTypes.NameIdentifier))
            .SingleOrDefault().Value;
        }
        else NavigationManager.NavigateTo("/auth/login");
    }
}