@inject AuthenticationStateProvider AuthenticationStateProvider

<MudDrawer Open="true" Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Transparent">
    <div style="display:flex; flex-direction:column; justify-content:space-between; height:100%; margin-top:10px">
        <div class="pl-5 pr-3">
            <MudDrawerHeader>
                <MudText Typo="Typo.h4">HustHosp</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <AuthorizeView Roles="@role">
                    @foreach (var item in NavItem)
                    {
                        <MudNavLink ActiveClass="mud-dark-text" style="@($"color:#9E9E9E; font-size:18px")"
                            Class="rounded-xl ml-3 mt-3 mb-3" Href="@item.NavLinkItem.Href" Match="NavLinkMatch.All"
                            Icon="@item.NavLinkItem.Icon">
                            @item.ItemContent</MudNavLink>
                    }
                </AuthorizeView>
            </MudNavMenu>
        </div>
        <div style="padding-left:46px; padding-right:12px; margin-bottom:20px">
            <form method="post" action="Account/Logout">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Secondary"
                    Style="text-transform:none;" StartIcon="@Icons.Material.Filled.Logout">Đăng xuất</MudButton>
            </form>
        </div>
    </div>
</MudDrawer>

@code {
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }

    private List<NavItem> NavItem = new List<NavItem>();

    private string role = new string("");

    protected override async Task OnInitializedAsync()
    {
        role = await GetUserRole();
        DisplayNavMenu();
    }

    private async Task<string> GetUserRole()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        return authState.User.Claims
        .Where(c => c.Type.Equals(ClaimTypes.Role))
        .SingleOrDefault().Value;
    }

    private void DisplayNavMenu()
    {
        NavItem.Add(new NavItem()
            {
                ItemContent = "Trang chủ",
                NavLinkItem = new MudNavLink()
                {
                    Href = "/Home",
                    Icon = MudBlazor.Icons.Material.Filled.Store,
                }
            });
        if (role.Equals("Doctor"))
        {
            NavItem.Add(new NavItem()
                {
                    ItemContent = "Quản lý thuốc",
                    NavLinkItem = new MudNavLink()
                    {
                        Href = "medicine",
                        Icon = MudBlazor.Icons.Material.Filled.LibraryBooks,
                    }
                });
            NavItem.Add(new NavItem()
                {
                    ItemContent = "Quản lý bệnh",
                    NavLinkItem = new MudNavLink()
                    {
                        Href = "disease",
                        Icon = MudBlazor.Icons.Material.Filled.Dangerous,
                    }
                });
            NavItem.Add(new NavItem()
                {
                    ItemContent = "Quản lý bệnh nhân",
                    NavLinkItem = new MudNavLink()
                    {
                        Href = "patient",
                        Icon = MudBlazor.Icons.Material.Filled.Sick,
                    }
                });
            NavItem.Add(new NavItem()
                {
                    ItemContent = "Quản lý đơn khám",
                    NavLinkItem = new MudNavLink()
                    {
                        Href = "medicalExamination",
                        Icon = MudBlazor.Icons.Material.Filled.Sick,
                    }
                });
            NavItem.Add(new NavItem()
                {
                    ItemContent = "Quản lý đơn thuốc",
                    NavLinkItem = new MudNavLink()
                    {
                        Href = "prescription",
                        Icon = MudBlazor.Icons.Material.Filled.Sick,
                    }
                });
        }
        else if (role.Equals("Cashier"))
        {
            NavItem.Add(new NavItem()
                {
                    ItemContent = "Quản lý hoá đơn",
                    NavLinkItem = new MudNavLink()
                    {
                        Href = "billing",
                        Icon = MudBlazor.Icons.Material.Filled.Paid,
                    }
                });
        }
    }
}

