<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@ToggleDrawer" />
        <MudSpacer />
        <AuthorizeView>
            <NotAuthorized>
                <MudIconButton Href="Account/Login" Color="Color.Inherit" Icon="@Icons.Material.Filled.Person">
                </MudIconButton>
            </NotAuthorized>
            <Authorized>
                <MudIconButton Href="" Color="Color.Inherit" Icon="@Icons.Material.Filled.Person">
                </MudIconButton>
                <form method="post" action="Account/LogOut">
                    <MudIconButton ButtonType="ButtonType.Submit" Color="Color.Inherit"
                        Icon="@Icons.Material.Filled.Logout"></MudIconButton>
                </form>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store">Trang chủ</MudNavLink>
            <MudNavLink Href="medicine" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LibraryBooks">Quản lý
                thuốc</MudNavLink>
            <MudNavLink Href="disease" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dangerous">Quản lý bệnh tật
            </MudNavLink>
            <MudNavLink Href="patient" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Sick">
                Quản lý bệnh nhân
            </MudNavLink>
            <MudNavLink Href="medicalExamination" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Sick">
                Quản lý đơn khám
            </MudNavLink>
            <MudNavLink Href="prescription" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Sick">
                Quản lý đơn thuốc
            </MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</MudLayout>


@code {
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}

