@page "/medicine" 
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMedicineService MedicineService
@inject IDialogService DialogService
@layout MainLayout

<MudPaper Style="overflow:hidden; position:relative; margin-left:50px">

<MudTable Items="@Elements" Hover="true" Breakpoint="Breakpoint.Sm">

    <ToolBarContent>
        <MudSpacer />
        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Mã thuốc</MudTh>
        <MudTh>Tên</MudTh>
        <MudTh>Cách dùng</MudTh>
        <MudTh>Giá bán</MudTh>
        <MudTh>Tồn kho</MudTh>
        <MudTh>Chức năng</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Mã thuốc">@context.MedicineId</MudTd>
        <MudTd DataLabel="Tên">@context.Name</MudTd>
        <MudTd DataLabel="Cách dùng">@context.HowToUse</MudTd>
        <MudTd DataLabel="Giá bán">@context.SellingPrice</MudTd>
        <MudTd DataLabel="Tồn kho">@context.QuantityDefault</MudTd>
        <MudTd>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" />
            <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Info" Size="Size.Small" OnClick="(e) => ShowDetail(context.Id)" />
        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager />
    </PagerContent>

    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>

    <LoadingContent>
         <MudText>Loading...</MudText>
    </LoadingContent>

    <PagerContent>
         <MudTablePager />
    </PagerContent>
</MudTable>

<MudExpansionPanel @bind-IsExpanded="isOpen" HideIcon="true">
            <TitleContent>
                <div class="d-flex">
                    <MudText>Nhóm</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudList Clickable="true">
        <MudListItem Text="Trash"/>
        <MudListItem Text="Spam"/>
        </MudList>
            </ChildContent>
        </MudExpansionPanel>
        
</MudPaper>


@code {
    private IEnumerable<Models.Medicine> Elements = new List<Models.Medicine>();

    private bool isOpen = true;

    protected override async Task OnInitializedAsync()
    {
        Elements = await MedicineService.GetMedicines();
    }

    public async Task ShowDetail(string Id)
    {
        var parameter = new DialogParameters { ["Id"] = Id };
        var dialog = await DialogService.ShowAsync<MedicineDetailPopUp>("Thông tin", parameter);
        var result = await dialog.Result;
    }
}

