@using Append.Blazor.Printing
@inject IPrintingService PrintingService
@inject IPatientService PatientService
@inject IPrescriptionService PrescriptionService

<MudDialog>
	<DialogContent>
		<form id="printable-form">
			<div style="display:block;text-align:center;">
				<h3 style="text-align:center;">HustMec</h3>
				<MudText>Mễ Trì, Từ Liêm, Hà Nội, Việt Nam</MudText>
				<MudText>090123456</MudText>
			</div>
			<div style="display: flex; text-align: center; flex-direction: column; flex-wrap: wrap; padding-top:10px">
				<h3>PHIẾU THU</h3>
				<MudText Typo="Typo.body1" Style="text-align:center">@Bill.BillId</MudText>
				<MudText Typo="Typo.caption" Style="text-align:center;width:100%">@(Bill.CreatedAt.ToLocalTime().ToString("dd-MM-yyyy hh:mm tt"))</MudText>
			</div>
				<MudText Typo="Typo.body1">Tên bệnh nhân: @patient.Name</MudText>
				<MudText Typo="Typo.body1">Số điện thoại: @patient.PhoneNumber</MudText>
				<MudText Typo="Typo.body1">Địa chỉ: @patient.Address</MudText>
				<MudDataGrid Style="width:700px" Elevation="0" Items="@prescription.MedicinePrescribed" ReadOnly="true">
					<Columns>
						<PropertyColumn Property="m => m.Name" Title="Tên thuốc" Sortable="false" CellStyle="width:30%" />
						<PropertyColumn Property="m => m.BuyingQuantity" Title="Số lượng" Sortable="false" CellStyle="width:20%" />
						<PropertyColumn Property="m => m.SellingPrice" Title="Giá bán (đơn vị: đồng)" Sortable="false" CellStyle="width:30%" />
						<PropertyColumn Property="m => m.SellingPrice * m.BuyingQuantity" Title="Thành tiền (đơn vị: đồng)" Sortable="false" CellStyle="width:30%" />
					</Columns>
				</MudDataGrid>
				<MudText Style="padding-top:20px; font-weight:bold" Typo="Typo.body1">Tổng cộng: @totalBillCost (đồng) </MudText>
				<MudText Style="padding-top:20px" Typo="Typo.body1">Ghi chú: @prescription.Note </MudText>
				<div style="display: flex; justify-content:space-evenly; padding-top:40px">
					<MudText Style="width:300px" Typo="Typo.body1">Người nộp tiền</MudText>
					<MudText Style="width:300px" Typo="Typo.body1">Người thu tiền</MudText>
				</div>
				<div style="display: flex; justify-content:space-evenly; padding-top:5px">
					<MudText Style="width:300px" Typo="Typo.body1">(ký tên)</MudText>
					<MudText Style="width:300px" Typo="Typo.body1">(ký tên)</MudText>
				</div>
		</form>
	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_ => PrintingService.Print("printable-form", PrintType.Html))">In</MudButton>
	</DialogActions>
</MudDialog>

@code {

	[Parameter]
	public Billing Bill { get; set; }

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

	private Patient patient = new Patient();

	private Prescription prescription = new Prescription();

	private int totalBillCost = 0;

	protected override async Task OnInitializedAsync()
	{
		patient = await PatientService.GetPatientById(Bill.PatientId);
		prescription = await PrescriptionService.GetPrescriptionById(Bill.PrescriptionId);
		GetTotalBillCost();
	}

	private void GetTotalBillCost()
	{
		foreach (var item in prescription.MedicinePrescribed)
		{
			totalBillCost += item.SellingPrice * item.BuyingQuantity;
		}
	}
}
